.div-container {
  height: 100vh; /* Full viewport height */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.india-map-container {
  width: 90%; /* Use a percentage for smaller screens */
   /* Cap the width for better control */
  aspect-ratio: 1.14 ; /* Adjust based on SVG's native aspect ratio */
  /* height:100%; */
  position: relative;
  max-height: 80vh; /* Prevent map from becoming too tall */
}

.india-map-container svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*  */

